.shimmer-box {
    position: relative;
    background: #e0e0e0; /* Light gray color */
    border-radius: 4px;
    overflow: hidden;
}

.shimmer-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(230, 230, 230, 0.8) 50%, rgba(255, 255, 255, 0) 75%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.tip-tap-link a {
    color: blue;
}
